---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: taller-mecanico
spec:
  replicas: 3

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: taller-mecanico
spec:
  replicas: 3
